@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BulkyBook!</h1>
    <br />
    <h3>
        This site is currently under construction.
        <br />
        Please check back again soon for updates.
    </h3>
    <br />
    <p><a href="https://docs.microsoft.com/aspnet/core">A web app built with ASP.NET Core</a>.</p>
</div>
