@model IEnumerable<Company>
@{
    ViewData["Title"] = "Companies";
}

<partial name="_Notifications" />

<div class="p-3">
    <div class="d-flex justify-content-between pt-4">
        <div class="p-2">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <div class="p-2">
            <a asp-controller="Companies" asp-action="Upsert" class="btn btn-primary btn-sm">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Company
            </a>
        </div>
    </div>
    <br /><br />
    <table id="companies" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-center">City</th>
                <th class="text-center">Province</th>
                <th class="text-center">Phone</th>
                <th></th>
            </tr>
        </thead>
    </table>    
</div>

@section Scripts
{
    <script src="~/js/companies.js"></script>
}