@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}

<partial name="_Notifications" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Categories" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>
    <br /><br />
    <table id="categories" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-center">Display Order</th>
                <th class="text-center">Created Date</th>
                <th></th>
            </tr>
        </thead>
    </table>    
</div>

@section Scripts
{
    <script src="~/js/category.js"></script>
}