@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
}

<partial name="_Notifications" />

<div class="p-3">
    <div class="d-flex justify-content-between pt-4">
        <div class="p-2">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <div class="p-2">
            <a asp-controller="Products" asp-action="Upsert" class="btn btn-primary btn-sm">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Product
            </a>
        </div>
    </div>
    <br /><br />
    <table id="products" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>ISBN</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script src="~/js/products.js"></script>
}