@model IEnumerable<OrderHeader>
@{
    ViewData["Title"] = "Orders";
}

<partial name="_Notifications" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Products" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Order
            </a>
        </div>
    </div>
    <br /><br />
    <table id="orders" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="col-2">ID</th>
                <th class="col-2">Name</th>
                <th class="col-2">Phone</th>
                <th class="col-2">Email</th>
                <th class="col-1">Status</th>
                <th class="col-1">Total</th>
                <th class="col-3"></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
    {
    <script src="~/js/orders.js"></script>
}