@model CoverType

<form method="post" asp-action="Upsert">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4 col-6">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Id != 0 ? "Edit Cover Type" : "Create Cover Type")</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        @if (Model.Id != 0)
        {
            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
            <a asp-area="Admin" asp-controller="CoverTypes" asp-action="Index" class="btn btn-secondary" style="width:150px">Cancel</a>
            <a class="btn btn-danger js-delete" data-coverType-id="@Model.Id" style="width:150px">Delete</a>
        }
        else
        {
            <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
            <a asp-area="Admin" asp-controller="CoverTypes" asp-action="Index" class="btn btn-secondary" style="width:150px">Cancel</a>
        }        
    </div>
    @Html.AntiForgeryToken()
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).on('click', '.js-delete', function () {
            let button = $(this);

            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this cover type!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((result) => {
                if (result) {
                    $.ajax({
                        url: '/Admin/CoverTypes/Delete/' + button.attr("data-coverType-id"),
                        type: 'DELETE',
                        success: function (data) {
                            if (data.success) {
                                window.location.assign("/Admin/CoverTypes/");
                            }
                            else {
                                toastr.error(data.message);
                            }
                        }
                    })
                }
            })
        })
    </script>
}