<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">BulkyBook</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Content Management</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="CoverTypes" asp-action="Index">Cover Types</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Companies" asp-action="Index">Companies</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">R-NET</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://www.r-net.tech">R-NET Home</a>
                            <a class="dropdown-item" href="https://www.r-net.tech:4442">ASP.NET 4.8 MVC - Vidly</a>
                            <a class="dropdown-item" href="https://www.r-net.tech:4444">ASP.NET Core 6 RAZOR Pages - AbbyBook</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://github.com/r-net-inc">GitHub</a>
                        </div>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
                @*<form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
            </div>
        </div>
    </nav>
</header>